body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0.7em;
}

h1 {
    margin: auto;
}

label {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.width-20-percent {
    width: max(150px, 15%);
}

.botao {
    max-width: 90px;
    margin-top: 0.5em;
}

.botao:hover {
    cursor: pointer;
}

#listagem-disciplinas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(40%, 300px);
    margin-top: 1em;
}

#listagem-disciplinas button {
    max-width: 30px;
    max-height: 20px;
    margin-right: auto;
}

#listagem-disciplinas button:hover {
    cursor: pointer;
}